body {
	text-align: center;
}

#symbol-edit {
	border-collapse: collapse;
	border-spacing: 0;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;

	background-repeat: none;
	background-clip: padding-box;
	background-size: 100% 100%;
}

#symbol-edit td {
	padding: 0;
	width:  16px;
	height: 16px;
	cursor: pointer;
	border: 1px dashed gray;
}

.css-pixel-symbol-pixel-set {
	background: black;
}

.button {
	-webkit-appearance: button;
	-moz-appearance: button;
	appearance: button;
}

#controls input[type=file]#open-button {
	visibility: hidden;
	width: 0;
}

button,
.button {
	box-sizing: border-box;
	padding: 2px 5px;
	font-size: 12px;
	margin: 2px;
}

textarea {
	min-width: 450px;
}

#style-out {
	min-height: 250px;
}

#html-out {
	min-height: 40px;
}

#symbol-edit-wrapper {
	border: 3px dashed transparent;
	display: inline-block;
}

#symbol-edit-wrapper.over {
	border-color: black;
}

#controls {
	display: inline-block;
	text-align: left;
}

#controls input[type=text],
#controls input[type=url],
#controls input[type=file],
#controls select {
	width: 270px;
}

#controls .buttons {
	text-align: center;
}

#bg-image-file-row,
#bg-image-url-row {
	display: none;
}

.use-bg-image-file #bg-image-file-row,
.use-bg-image-url  #bg-image-url-row {
	display: table-row;
}

.use-bg-image-file #bg-image-placeholder-row,
.use-bg-image-url  #bg-image-placeholder-row {
	display: none;
}

#font-size {
	width: 3em;
}

input[type=number] {
	text-align: right;
}
